<style>
    .farb-item .preview {
        border: 1px solid grey;
        text-align: center;
    }

    .farb-item .preview p {
        margin: 0.5em;
    }
</style>

<div class="farb-item" layout="row" layout-align="start center">
    <div flex="20">{{ $ctrl.farbe.name }}</div>

    <div flex="20">{{ $ctrl.farbe.geaendert | zeitDiff: $ctrl.jetzt() }}</div>

    <div flex="30" class="preview" style="background-color: {{ $ctrl.farbe | cssFarbe }};">
        <div style="color: {{ $ctrl.farbe.helligkeit() &lt; 128 ? 'white' : 'black' }}">
            <p>{{ $ctrl.farbe | cssFarbe }}</p>
        </div>
    </div>

    <md-button class="md-fab md-mini md-warn" ng-click="$ctrl.farbeLoeschen()">
        <md-icon md-font-icon="material-icons">delete</md-icon>
    </md-button>

    <md-button class="md-fab md-mini md-primary" ui-sref="farb-editor({ farbe: $ctrl.farbe })">
        <md-icon md-font-icon="material-icons">edit</md-icon>
    </md-button>
</div>