<style>
    .farb-editor > * {
        margin-left: 1em;
        margin-right: 1em;
    }

    .farb-editor > md-toolbar {
        margin: 0 0 0.5em 0;
    }

    .farb-editor .preview {
        border: 1px solid grey;
        text-align: center;
    }
</style>

<form name="$ctrl.formular" class="farb-editor" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ui-sref="farb-liste">
                <md-icon md-font-icon="material-icons">arrow_back</md-icon>
            </md-button>

            <div flex></div>
            <h2 md-truncate>Farbe bearbeiten</h2>
            <div flex></div>

            <md-button class="md-icon-button" 
                       ng-disabled="$ctrl.formular.$invalid"
                       ng-click="$ctrl.speichern()">
                <md-icon md-font-icon="material-icons">check</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-input-container>
        <label>Name der Farbe</label>
        <input type="text" name="name" ng-model="$ctrl.farbe.name" required>
        <div ng-messages="$ctrl.formular.name.$error">
            <div ng-message="required">Die Farbe benötigt einen Namen</div>
        </div>
    </md-input-container>
    
    <rgb-wert label="Rot"
              wert="$ctrl.farbe.rot"
              wert-aenderung="$ctrl.farbe.rot=wert">
    </rgb-wert>

    <rgb-wert label="Grün"
              wert="$ctrl.farbe.gruen"
              wert-aenderung="$ctrl.farbe.gruen=wert">
    </rgb-wert>

    <rgb-wert label="Blau"
              wert="$ctrl.farbe.blau"
              wert-aenderung="$ctrl.farbe.blau=wert">
    </rgb-wert>

    <div class="preview" style="background-color: {{ $ctrl.farbe | cssFarbe }};">
        <div style="color: {{ $ctrl.farbe.helligkeit() &lt; 128 ? 'white' : 'black' }}">
            <p>{{ $ctrl.farbe | cssFarbe }}</p>
        </div>
    </div>
</form>