<style>
    .farb-liste {
        height: 100%;
    }

    .farb-liste > md-toolbar {
        margin: 0 0 0.5em 0;
    }

    .farb-liste > md-content {
        margin: 0 0 0 1em;
    }
</style>

<div class="farb-liste" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 md-truncate>MagiColor</h2>
        </div>
    </md-toolbar>

    <md-content flex>
        <farb-item ng-repeat="f in $ctrl.farben" farbe="f"></farb-item>
    </md-content>
</div>
