<style>
    .rgb-wert md-input-container,
    .rgb-wert md-slider {
        margin-right: 1em;
    }
</style>

<div class="rgb-wert" layout="row" layout-align="start center">
    <md-input-container flex="20">
        <label>{{ $ctrl.label }}</label>
        <input type="number"
               ng-model="$ctrl.wert"
               ng-change="$ctrl.geaendert()">
    </md-input-container>

    <md-slider flex min="0" max="255"
               ng-model="$ctrl.wert"
               ng-change="$ctrl.geaendert()">
    </md-slider>
</div>
